body {
    background-color: black;
    color: white;
    display: flex;
    min-height: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 50%;
    margin-right: 10%;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

.text {
    word-break: break-all;
}

.track-box {
    display: flex;
    gap: 20px;
}

.track {
    width: 80px;
    height: 100px;
    background-color: white;
    color: black;
    border: 2px solid orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
}

.right {
    width: 50%;
    text-align: center;
}

.right form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-field {
    position: relative; 
    width: 350px;
    margin: 0 auto 15px;
}

input {
    margin: 0;
}

.login-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.login-field input {
    width: 100%;
    padding: 15px;
    padding-left: 45px;
    border-radius: 30px;
    box-sizing: border-box;
    border: none;
}

.login-btn {
    width: 150px;
    padding: 12px;
    background-color: #E89C4D;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 833px) {
    .body {
        align-items: flex-start;
        
    }
    .container {
        width: auto;
        display: block;
        margin: 0 auto;
    }
    .left {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 25%;
    }
    .right {
        width: 90%;
        margin: 0 auto;
    }
}