body {
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    width: 900px;
    justify-content: space-around;
    align-items: center;
}

.left {
    width: 450px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.text {
    word-break: break-all;
}

.track-box {
    display: flex;
    gap:15px;
}

.track {
    width: 80px;
    height: 100px;
    background-color: white;
    color: black;
    border: 2px solid orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.right {
    width: 350px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
}

.login-btn {
    width: 150px;
    padding: 12px;
    background-color: #E89C4D;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}